body {
    font-family: 'Ubuntu', sans-serif;   
}

.bckg-img {
    margin: 0 auto;
    width: 1366px;
    background-image: url(../background/backgrounds.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.head {
    margin: 0 auto;
    display: flex;
    width: 1366px;
    height: 58px;
    justify-content: space-around;
    align-items:center;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.head-title {
    margin-right: 704px;
    margin-left: 79px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    color: #FFFFFF;
    
}

.head-link {
    color: #FFFFFF;
    transition: 0.5s;
}

.head-link:hover {
    color: #3CB878;
}


.head-calendar-link {
    fill: #FFFFFF;
    transition: 0.5s;
}
.head-calendar-link:hover {
    fill: #3CB878;
}

.head-message-link {
    fill: #FFFFFF;
    transition: 0.5s;
}

.head-message-link:hover {
    fill: #3CB878;}

.head-compass-link {
    fill: #FFFFFF;
    transition: 0.5s;
}

.head-compass-link:hover {
    fill: #3CB878;
}


.head-title-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 79px;
}

.head-login {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 3px;
}

.head-compass {
    margin-right: 27px;
}

.head-title-link::before {
    content: '';
    width: 1px;
    height: 19px;
    position: absolute;
    background-color: #FFFFFF;
    margin-left: -27px;
    align-items: center;
}

.head-login-link {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    transition: 0.5s;
    margin-right: 3px;
}

.head-login-link:hover {
    color: #3CB878;
}

.head-signin {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 3px;
}

.head-signin-link {
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    transition: 0.5s;
    
}

.head-signin-link:hover {
    color: #3CB878;
}

.conteiner {
    width: 444px;
    margin: 0 auto;
}

.signin {
    margin: 53px 460px 72px;
    width: 444px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.signin-up {
    display: inline-block;
    margin-top: 31px;
    margin-left: 61px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 20px;
    color: #434343;
}

.signin::before {
    content: '';
    width: 18px;
    height: 18px;
    position: absolute;
    background-color: #3CB878;
    margin-top: 29px;
    margin-left: 0;
    
}

.log {
    display: inline-block;
    margin-top: 31px;
    margin-left: 216px;
    margin-bottom: 13px;
    margin-right: auto;

}

.login{
    font-weight: 400;
    font-size: 14px;
    color: #3CB878;
    transition: 0.5s;
}

.login:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
}

.sign-face-google {
    display: flex;
    justify-content: center;
}

.face-form {
    width: 157px;
    margin-right: 16px;
    border: none;
	outline: none;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #305DB8;
    cursor: pointer;
    transition: 0.5s;
}

.face-form:hover {
    background-color:#022263;
}

.face-logo {
    justify-content: space-around;
    margin-left: 17px;
    margin-top: 12px;
    margin-right: 38px;
}

.face-text::before {
    content: '';
    width: 1px;
    height: 28px;
    position: absolute;
    background-color: #0A162F;
    margin-top: 10px;
    margin-left: -19px;
    align-items: center;
    opacity: 0.1;
}

.goog-form {
    width: 157px;
    height: 46px;
    border: none;
	outline: none;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 4px;
    background-color: #DF4A32;
    cursor: pointer;
    transition: 0.5s;
}

.goog-form:hover {
    background-color: #AB1F09;
}

.goog-logo {
    margin-left: 17px;
    margin-top: 12px;
    margin-right: 38px;
}

.goog-logo::before {
    content: '';
    width: 1px;
    height: 28px;
    position: absolute;
    background-color: #2B0D09;;
    margin-top: 10px;
    margin-right: 7px;
    align-items: center;
    opacity: 0.1;
}

.signin-divide { 
    text-align: center;
    margin-top: 32px;
    margin-bottom: 11px;
}

.signin-divider {
	font-size: 14px;
	color: #848484;
	position: relative;
	display: inline-block;
}

.signin-divider::after,
.signin-divider::before {
	content: '';
	position: absolute;
	top: 50%;
	width: 152px;
	height: 1px;
	background-color: #F2F2F2;
	transform: translateY(-50%);
}

.signin-divider::before {
	left: -152px;
}

.signin-divider::after {
	right: -152px;
}

.checkbox-for {
    font-weight: 400;
    font-size: 14px;
    width: 330px;
    margin: 0 auto;
}

.checkbox-for {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checkbox-form {
    cursor: pointer;
    opacity: 0;
    position: absolute;
}

.checkbox-for::before {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    margin-right: 8px;
}

.checkbox-for:hover::before,
.checkbox-form:hover + .checkbox-for::before {
    background-color: rgba(0, 0, 0, 0.0001);
}

.checkbox-form:checked + .checkbox-for::before {
    content: '\V';
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3CB878;
}

.checkbox-form:hover:checked + .checkbox-for::before {
    color: #01813F;
    
}



.checkbox-form-link {
    color: #3CB878;
    transition: 0.5s;
    margin-left: 3px;
}

.checkbox-form-link:hover {
    border-bottom: 1px solid #01813F;
    color: #01813F;
}

.signin-form {
    display: flex;
	flex-direction: column;
    align-items: center;
	margin-top: 12px;
    
}

.signing-form-field {
    width: 322px;
    height: 44px;
	border: none;
	outline: none;
	border: 1px solid #eaeaea;
	padding-bottom: 7px;
    font-weight: 400;
	font-size: 14px;
    transition: 0.5s;
    transition-property: box-shadow;
    border-radius: 4px;
}

.signing-form-field:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.signing-form-field:not(:last-child) {
	margin-bottom: 12px;
}

.signing-form-field {
	margin-bottom: 15px;
}

.signin-form-submit {
    width: 324px;
    height: 46px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 38px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.signin-form-submit:hover {
    background-color: #01813F;
}